# Files & Directories related to build & test tools.
.idea/
.vscode/
/build
/dist
/node_modules
/tests
/vendor

# Project Files & Directories.
assets/
includes/
languages/
src/js/vendors/
src/js/**/*.min.js
