# Operating System
.DS_Store
Thumbs.db

# IDE
.idea
.project
.settings*
.sublimelinterrc
*.sublime-project
*.sublime-workspace
project.properties
project.xml

# Logs
*.log
logs/
npm-debug.log*

# Environment
.pnpm-debug.log
npm-debug.log
wp-cli.local.yml
yarn-error.log

# Runtime Data
.cache
*.pid
*.pid.lock
*.seed
pids

# Build
*-performance-results.json
*.sql
*.swp
*.zip
build-module/
build-style/
build-types/
build/
coverage/
dist/

# Project
jspm_packages/
node_modules/
vendor/

# Composer
.phpunit.result.cache
/tests/phpunit/build
bin/composer/**/vendor/
composer.lock
contributors.html
contributors.md
lib/vendor/
vendor/

# Grunt
.grunt

# Sass
.sass-cache/

# Eslint Cache
.eslintcache

# NPM
.npm

# Node
package-lock.json

# REPL
.node_repl_history

# TypeScript
tsconfig.tsbuildinfo

# node-waf
.lock-wscript

# Unit tests
tmp/

# Yarn
yarn.lock

# Test Results
test-results.json

# Patches
*.diff
*.orig
*.patch
*.rej

# PHP lint
phpcs-report.xml
