.wp-ajaxify-settings-page .wp-ajaxify-settings-page__desc span:not(:last-child)::after {
  content: "|";
  margin: 0 3px
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__desc a {
  outline: 0;
  box-shadow: none
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__nav .nav-tab-wrapper {
  border-color: #eee
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__nav .nav-tab-wrapper a {
  margin-right: 7px;
  margin-left: 0;
  padding: 10px 20px;
  border-color: #eee;
  outline: 0;
  box-shadow: none
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__nav .nav-tab-wrapper a:hover {
  border-color: #fafafa;
  background-color: #fafafa
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__nav .nav-tab-wrapper a.nav-tab-active {
  border-color: #fafafa;
  background-color: #fafafa
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content {
  display: inline-block;
  width: 100%;
  margin: 0;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #eee;
  background-color: #fff
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content table {
  margin: 0
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content table div.description {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  line-height: 1.6
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content table code {
  padding: 2px;
  font-size: 10px
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content table input[type=number] {
  min-width: 80px;
  padding-right: 0
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content table tr.heading {
  border-bottom: 1px dashed #eee;
  border-left: 4px solid #23282d
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content table tr.heading th {
  margin: 0;
  padding: 15px 20px;
  background-color: #fafafa
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content table tr.heading td {
  margin: 0;
  padding: 15px 20px;
  background-color: #fafafa
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content table tr.submit th {
  margin: 0;
  padding: 15px 20px;
  background-color: #fafafa
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content table tr.submit td {
  margin: 0;
  padding: 15px 20px;
  background-color: #fafafa
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content table tr.submit p {
  margin: 0;
  padding: 0
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content table tr th {
  padding: 15px 20px;
  border-bottom: 1px dashed #eee
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content table tr td {
  padding: 15px 20px;
  border-bottom: 1px dashed #eee
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content .wp-ajaxify-settings-page .wp-ajaxify-settings-page__content__page-content-text {
  padding: 20px
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content .wp-ajaxify-settings-page .wp-ajaxify-settings-page__content__page-content-text p {
  margin-top: 0;
  margin-bottom: 15px
}
.wp-ajaxify-settings-page .wp-ajaxify-settings-page__content .wp-ajaxify-settings-page .wp-ajaxify-settings-page__content__page-content-text p:last-child {
  margin-bottom: 0
}