$black: #000;
$dark: #23282d;
$gray: #eee;
$light-gray: #fafafa;
$white: #fff;

.wp-ajaxify-settings-page {

	& &__desc {

		a {
			outline: none;
			box-shadow: none;
		}

		p {

			&:not(:first-child) {
				margin-top: 0.1em;
			}

			&:not(:last-child) {
				margin-bottom: 0;
			}

			&.links {

				span {

					&:not(:last-child) {

						&::after {
							content: "|";
							margin: 0 3px;
						}
					}
				}
			}
		}
	}

	& &__nav {

		.nav-tab-wrapper {
			margin: 0 0 -1px 1px;
			border-color: $gray;

			a {
				margin-right: 7px;
				margin-left: 0;
				padding: 10px 20px;
				border-color: $gray;
				outline: none;
				background: #e8e8e8;
				box-shadow: none;

				&:hover {
					border-color: $light-gray;
					background-color: $light-gray;
				}
			}

			a.nav-tab-active {
				border-color: $light-gray;
				background-color: $light-gray;
			}
		}
	}

	& &__content {
		display: inline-block;
		width: 100%;
		margin: 0;
		border-width: 0 1px 1px 1px;
		border-style: solid;
		border-color: $gray;
		background-color: $white;

		table {
			margin: 0;

			label {
				font-size: 13px;
				font-weight: 600;
			}

			code {
				padding: 2px;
				font-size: 10px;
			}

			input[type="number"] {
				width: 80px;
				padding-right: 0;
			}

			tr {
				border-right: 4px solid transparent;
				border-left: 4px solid transparent;

				&:not(:first-child) {
					border-top: 1px dashed $gray;
				}

				th,
				td {
					margin: 0;
					padding: 15px 20px;
				}

				@media screen and (max-width: 782px) {

					&:not(.submit-row) {

						th {
							padding-bottom: 0;
						}

						td {
							padding-top: 7px;
						}
					}
				}

				&.heading-row,
				&.submit-row {
					border-top: 0;
					border-right-color: $light-gray;
					border-left-color: $dark;

					+ tr {
						border-top: 0;
					}

					th,
					td {
						background-color: $light-gray;
					}

					p {
						margin: 0;
						padding: 0;
					}
				}

				&.heading-row {

					th {
						font-size: 14px;
					}

					td {
						opacity: 0.85;
						font-size: 12px;
					}
				}

				&.submit-row {
					border-left-color: $light-gray;

					input[type="submit"] {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
